/* Define a common font size */
body {
    font-size: 16px; /* Base font size */
}

#container {
    width: 600px; /* Fixed width for the container */
    text-align: left;
}

#file-and-button {
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Center align items vertically */
}

#file,
#renderQuestion,
#englishWordTextBox {
    font-size: inherit; /* Inherit font size from the body */
    height: 30px; /* Match height to the button */
}

#englishWordTextBox {
    height: 34px; /* Match height to the button */
    font-size: 24px; /* Adjust the font size for the English word */
    display: inline-block;
    vertical-align: middle;
    width: 200px; /* Set width to auto */
    text-align: justify;

}

.banner {
    height: 30px; /* Match height to the button */
    /*font-size: 24px; !* Adjust the font size for the English word *!*/
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;

    width: 190px; /* Set width to auto */
}
